body  {
	font-size: 14pt;
}

body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}

h1 { font-size: 2.5em; margin-top: 2em; }
h2 { font-size: 2em; margin-top: 1.5em; }
h3 { font-size: 1.5em; margin-top: 1.3em; }
h4 { font-size: 1.3em; margin-top: 1em; }

:target {background:#FFF5CC; outline: solid 20px #FFF5CC; position:relative;}
:target:before {
content: ">";
position: absolute;
left: -50px;
top: -21px;
font-size: 40pt;
font-family: consolas;
font-weight: bold;
color: orange;
}

a{
color:#CC3300;
border-bottom:dashed 1px;
}
a:hover { border-bottom-style: solid; color:#CC3300; text-decoration:none;}
.navbar a {border:0;}

.content {
	overflow:auto;
	position: absolute;
	left: 350px;
	right: 0;
	top: 0;
	bottom: 0;
	padding-left: 3em;
	padding-right: 2em;
	padding-bottom: 2em;
}

/* Custom container */
.container-narrow {
}

.container-narrow > hr {
    margin: 30px 0;
}

.navbar .nav {
}

/* posts index */
.post > h3.title {
    position: relative;
    padding-top: 10px;
}

.post > h3.title span.date {
    position: absolute;
    right: 0;
    font-size: 0.9em;
}

.post > .more {
    margin: 10px 0;
    text-align: left;
}

/* post-full*/
.post-full .date {
    margin-bottom: 20px;
    font-weight: bold;
}

.navbar {
    background: tomato;
    color: #fff;
		padding-bottom: 10px;
		margin:0;
		font-family:Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
    margin-bottom: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-top: 10px;
    border-radius:0;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 350px;
}

.page-header {
}

body.post-page .page-header {
}
body.post-page .navbar{
}

.navbar .social {
	text-align: center;
	font-size: 1.6em;
}

.navbar a.brand .icon {
		display: inline-block;
    width: 110px;
    border-radius: 30px;
}

.navbar a.brand .title {
    padding-top:7px;
    display:block;
}

.navbar a.brand,
.navbar a.brand:hover,
.navbar a.brand:visited,
.navbar a.brand:focus {
    color: #fff;
    text-decoration: none;
    font-size: 18pt;
    display: block;
    line-height:100%;
		text-align: center;
		padding: 3em 2em 1em;
		font-size: 1.5em;
}

.navbar a.brand, .navbar a.brand * {
    vertical-align: middle;
}

.navbar * {
    color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: #CC3300;
    color: #fff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: #CC3300;
    color: #fff;
}


.post-item {
}
.post-item h1 a { border: none; color: #000; }

.post-item h2.title-field {
    margin:0;
}

.post-item .date-field{
    font-size:smaller;
}
.post-item .summary-field{
    margin-top:15px;
}
.post-item .buttons {
    text-align:right;
}


footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0em 1em;
}

footer .nav {
	margin: 2em 0;
}

footer .nav li a {
	padding: 0;
}


.blog-tag-list {background:#ddd; font-size:90%;
	margin-bottom: 20px;
	padding: 0 0 5px;
	color:#888;
}

.pagination {display:block;}
.pagination .archive,
.pagination .next {text-align: right;}

.blog-post-set ul li .date-label {color:#aaa; font-size:smaller;}

.blog-post-details a {
	color: #aaa;
}
.blog-post-details {
	font-size: 0.8em;
	font-family: Verdana;
	color: #aaa;
	margin-bottom: 2em;
}
